# Scientific Python and Data Manipulation
## Advanced Python for Life Sciences @ Physalia courses (Summer 2025)
### Marco Chierici, Fondazione Bruno Kessler

# NumPy

## Motivation

Suppose you have to work with matrices and perform a matrix multiplication. You could create matrices in pure Python by using nested lists.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

This creates a 3x3 matrix that should look like this:

```
1 2 3
4 5 6
7 8 9
```

And then you can access the individual items by their indices.

In [ ]:
matrix[0][1]

How could you multiply each item by 2? For example, you can use a nested `for` loop.

In [ ]:
for row in matrix:
    for i in range(len(row)):
        row[i] = row[i] * 2

matrix

The output is correct; the problem is that all of this is done in pure Python and you thus need to reimplement every operation you need to use!

**NumPy** brings N-dimensional arrays and linear algebra routines to Python.

More info and full documentation: https://numpy.org

## Overview

In [15]:
# canonical import
import numpy as np

In [52]:
# a one-dimensional array
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(a)
#print(type(a))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

You can index a Numpy array like you would to with a nested list:

In [53]:
a[0][1]

2

Or with the numpy-specific slicing syntax:

In [54]:
a[0, 1]

2

# Arrays contain items of a single type: this is one major difference with respect to lists.

In [ ]:
np.array([[1, 2, 3], ["a", "b", "c"]])

You can create three-dimensional arrays:

In [ ]:
matrix = np.array([
    [[1, 2, 3], [4, 5, 6]], 
    [[7, 8, 9], [10, 11, 12]],
    [[13, 14, 15], [16, 17, 18]]
])

In [ ]:
matrix[0, 1, 2]

## Operations

In [ ]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
matrix * 2

In [ ]:
second_matrix = np.array([[5, 4, 3], [7, 6, 5], [9, 8, 7]])
second_matrix

In [ ]:
second_matrix - matrix

All arithmetic operators + - * / operate *element by element*:

In [ ]:
matrix = np.array([[1, 1, 1], [1, 1, 1], [1, 1, 1]])
matrix * matrix

Matrix product is computed with the `@` operator:

In [ ]:
matrix @ matrix

Other common array operations:

In [ ]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# dimension or shape
print(matrix.shape)

Note that `.shape` is an *attribute* of `matrix` and not a function or method: a common error is to call it like `matrix.shape()`

In [ ]:
matrix.diagonal()

In [ ]:
matrix.flatten()

In [ ]:
matrix.transpose()  # equivalent: matrix.T

In [ ]:
np.max(matrix)  # equivalent: matrix.max()
# same for min(), sum(), mean()

In [ ]:
np.sqrt(matrix)  # element by element

In [ ]:
np.square(matrix)  # element by element

In [ ]:
np.log2(matrix)  # element by element

## Ranges of values

`np.arange()` is the Numpy equivalent to `range()` and returns a numpy array:

In [ ]:
np.arange(10)

In [ ]:
np.arange(10, 20)

In [ ]:
np.arange(10, 20, 2)

### Shaping

In [6]:
A = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(A)
print(A.shape)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)

In [8]:
A.reshape(9, 1) # A.reshape(9,)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [2]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr)

[[1 2 3]
 [4 5 6]]

In [3]:
arr.reshape(3, -1) # -1 MEANS AS MANY AS COLs NEEDED

array([[1, 2],
       [3, 4],
       [5, 6]])

In [4]:
arr.reshape(1, -1)

array([[1, 2, 3, 4, 5, 6]])

## Randomness

The `np.random` module allows you to perform random sampling.

In [9]:
# set a seed before generating random data
np.random.seed(11)
# draw samples from a normal distribution with 0 mean and 1 sd
# and put the output in a 3x3 array
np.random.normal(size=(3, 3))

array([[ 1.74945474, -0.286073  , -0.48456513],
       [-2.65331856, -0.00828463, -0.31963136],
       [-0.53662936,  0.31540267,  0.42105072]])

## Resources

- **[Numpy cheat sheet](https://images.datacamp.com/image/upload/v1676302459/Marketing/Blog/Numpy_Cheat_Sheet.pdf)** (also in the `resources` folder)
- [Numpy tutorials and books](https://numpy.org/learn/)

---

# Scipy

- Scientific Python
- Built on top of NumPy
- Provides more complex mathematic, statistical, and scientific data analysis functions
  - Still, NumPy contains some linear algebra functions and Fourier transforms, even though these more properly belong in SciPy

More info and full documentation: https://scipy.org

Some particularly useful `scipy` sub-packages include:

- `scipy.stats`
  - randomness
  - statistical functions and tests
- `scipy.integrate`
  - numerical integration
 
Other useful sub-packages include `scipy.linalg` for linear algebra and `scipy.sparse` for sparse matrix problems (e.g. single-cell RNA-seq).

We'll briefly touch here how to do simple statistical testing with `scipy`.

## Statistical testing

`stats` contains functions for statistical hypothesis testing. For example, let's conduct a *paired t-test* to compare two sets of related measurements, such as the same biological parameter measured before and after a treatment in the same subjects.

In [10]:
from scipy import stats

# set a seed before generating random data
np.random.seed(12345)
# assume these are two sets of biological measurements
data_before = np.random.normal(loc=50, scale=10, size=100)  # before treatment
# we manually shift data_before to simulate the effect of a treatment
data_after = data_before + np.random.normal(loc=5, scale=5, size=100)  # after treatment

# paired t-test
t_statistic, p_value = stats.ttest_rel(data_before, data_after)

In [11]:
p_value

1.529722640391192e-16

The p-value is way less than the usual significance threshold of 0.05, so we reject the null hypothesis that there is no difference between the two sets of measurements.

The *nonparametric version* of the paired t-test is the Wilcoxon signed-rank test: let's conduct this kind of test on the same data.

In [ ]:
# Wilcoxon signed-rank test
statistic, p_value = stats.wilcoxon(data_before, data_after)

Again, this p-value indicates a statistically significant difference in this example data.

Wilcoxon signed-rank is especially used instead of the paired t-test when the data are not normally distributed, thus they do not meet the assumptions of a t-test.

In [ ]:
# set a seed before generating random data
np.random.seed(999)
# non-normally distributed data from a log-normal distribution
data_before_non_normal = np.random.lognormal(mean=1.5, sigma=0.4, size=30)
data_after_non_normal = data_before_non_normal * np.random.lognormal(mean=0.1, sigma=0.4, size=30)

# Performing the Wilcoxon signed-rank test
statistic, p_value = stats.wilcoxon(data_before_non_normal, data_after_non_normal)

If, instead, you want to assess statistical significance of *independent samples* (i.e., one group of patients vs. another group of different patients), you can use a t-test (`stats.ttest_ind`) or a Mann-Whitney U test (`stats.mannwhitneyu`).

In [ ]:
np.random.seed(999)

# two independent non-normal samples from log-normal dists
group_a = np.random.lognormal(mean=1.5, sigma=0.4, size=30)
group_b = np.random.lognormal(mean=1.2, sigma=0.5, size=30)

# perform the Mann–Whitney U test
statistic, p_value = stats.mannwhitneyu(group_a, group_b, alternative='two-sided')
p_value

## Resources

- **[Scipy cheat sheet](https://images.datacamp.com/image/upload/v1676303474/Marketing/Blog/SciPy_Cheat_Sheet.pdf)** (also in the `resources` folder)
- [Scipy documentation](https://docs.scipy.org/doc/scipy/)
- If you work a lot with statistical models and statistical tests, check out the [statsmodels](https://www.statsmodels.org/stable/index.html) library!

---

# Pandas

- "The" Python library for **data preprocessing and analysis**
- Built **on top of Numpy**
- Extremely versatile for manipulating datasets, mostly tabular data
- Think of Pandas as the **evolution of spreadsheets**, with more capabilities for coding, and queries on relational data such as joins and group-by
- Bonus: can be used for high quality **plots**
- Most important structure: the **Data Frame** (R users: yes, that one!)
- Trivia: stands for **Pan**el **Da**ta **S**ystem

More info and full documentation: https://pandas.pydata.org

## Resources
We won't cover everything Pandas can do, so keep this **[cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)** handy! (it's also in the `resources` folder)

---

In [19]:
# canonical import
import pandas as pd

In [20]:
# we'll also need this to improve dealing with files, folders, and paths
from pathlib import Path
DATADIR = Path("data")

---

## Series

A Pandas Series is a 1D container, similar to the Python list. With respect to lists, however, a Series can only hold items of the same `dtype`.

In [21]:
# create a series using lists
# note: index defaults to 0, 1, 2, ... if not given.
genes = pd.Series([0.2, 1.4, 4, 5], index=["GeneA", "GeneB", "GeneC", "GeneD"])
genes

GeneA    0.2
GeneB    1.4
GeneC    4.0
GeneD    5.0
dtype: float64

In [22]:
print(type(genes))

<class 'pandas.core.series.Series'>

In [23]:
# get the number of rows and columns
# (shape is an attribute)
genes.shape

(4,)

In [24]:
# get the index values (another attribute)
genes.index

Index(['GeneA', 'GeneB', 'GeneC', 'GeneD'], dtype='object')

In [25]:
# get the type
genes.dtypes

dtype('float64')

In [26]:
# get more info
genes.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, GeneA to GeneD
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 236.0+ bytes

In [27]:
# create a series from a dictionary
genes2 = pd.Series(
    {"GeneA": 0.2, "GeneB": 1.4, "GeneC": 4.0, "GeneD": 5, "GeneE": np.nan}
)
print(genes2)

GeneA    0.2
GeneB    1.4
GeneC    4.0
GeneD    5.0
GeneE    NaN
dtype: float64

### Missing values

Checking for missing values is one of the main steps in your data preprocessing workflow. If you find missing data, you basically have three options:

- keep it (easiest; depends on whether your downstream analysis methods can deal with NANs)
- remove it (easy; potential loss of data; limits trained models for future data)
- replace it (hardest, somewhat arbitrary; potential to save a lot of data for model training; potential to lead to false conclusions)

Keep in mind that no approach applies to all circumstances!

In [ ]:
# check for NA values
print(genes2.isnull())

In [ ]:
# drop NA values
genes2.dropna()

In [ ]:
genes2

In [ ]:
# drop NA values inplace
genes3 = genes2.copy()  # creates a safe "deep copy"
genes3.dropna(inplace=True)
genes3

**Note:** many Pandas functions and methods that alter dataframes support the parameter `inplace`, which by default is always `False`. In this case, the function returns `None` and the input dataframe is overwritten. In general, *you should avoid using `inplace=True`*. Moreover, this parameter could be deprecated in a future Pandas version (see [here](https://github.com/pandas-dev/pandas/issues/16529)).

In [ ]:
# replace NA values with a custom value
genes2.fillna(value=0)

In [ ]:
# replace NA values with a custom value
genes2.fillna(value=genes2.median())

In [ ]:
# replace NA values propagating the last valid observation to next valid
genes2.ffill()  # use this instead of genes2.fillna(method="ffill")

So what to do with missing values? Here are some rules of thumb.

- You should **drop values** when a lot of data is missing;
- You should **fill with the same value** if you know that NaN is just a placeholder (e.g., for 0);
- You should **fill with interpolated or estimated value** if there is a reasonable assumption to do that!

### Selecting/Filtering Values in a series

1. What is the value of GeneC? There are multiple options to access GeneC.

In [ ]:
# dot notation
genes.GeneC

In [ ]:
# by row name
genes["GeneC"] # space safe

In [ ]:
genes.loc["GeneC"]

In [ ]:
# by row index
genes.iloc[2]

2. What is the value of GeneC and GeneD?

In [ ]:
genes[["GeneC", "GeneD"]]

3. What genes are expressed with a value of at least 3?

In [ ]:
genes[genes > 3]

In [29]:
# working with multiple conditions
genes[(genes > 3) | (genes < 1)] # | OR, & AND.
# round breakets are important!!!

GeneA    0.2
GeneC    4.0
GeneD    5.0
dtype: float64

- In Pandas, the Boolean negation operator is the tilde `~`.
- Use the `.isin()` method to select data whose value "is in" a list of values

In [ ]:
genes.isin([5.0])

4. What is the mean expression of the whole data?

In [30]:
genes.mean()

2.65

5. What is the largest value?

In [31]:
genes.max()

5.0

6. What gene has the largest value?

In [32]:
genes[genes == genes.max()].index[0]

'GeneD'

In [ ]:
# alternative
genes.idxmax()

### Sorting values

In [33]:
# sort from highest to lowest
# note: default is increasing order! check ?genes.sort_values
genes.sort_values(ascending=False)

GeneD    5.0
GeneC    4.0
GeneB    1.4
GeneA    0.2
dtype: float64

In [34]:
help(genes.sort_values) # access documentation of a function

Help on method sort_values in module pandas.core.series:

sort_values(*, axis: 'Axis' = 0, ascending: 'bool | Sequence[bool]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'NaPosition' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'Series | None' method of pandas.core.series.Series instance
    Sort by the values.

    Sort a Series in ascending or descending order by some
    criterion.

    Parameters
    ----------
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.
    ascending : bool or list of bools, default True
        If True, sort values in ascending order, otherwise descending.
    inplace : bool, default False
        If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
        Choice of sorting algorithm. See also :func:`numpy.sort` for more
        information. 'mergesort' and 'stable' are the only stable  algorithms.
    na_position : {'first' or 'last'}, default 'last'
        Argument 'first' puts NaNs at the beginning, 'last' puts NaNs at
        the end.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        If not None, apply the key function to the series values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return an array-like.

    Returns
    -------
    Series or None
        Series ordered by values or None if ``inplace=True``.

    See Also
    --------
    Series.sort_index : Sort by the Series indices.
    DataFrame.sort_values : Sort DataFrame by the values along either axis.
    DataFrame.sort_index : Sort DataFrame by indices.

    Examples
    --------
    >>> s = pd.Series([np.nan, 1, 3, 10, 5])
    >>> s
    0     NaN
    1     1.0
    2     3.0
    3     10.0
    4     5.0
    dtype: float64

    Sort values ascending order (default behaviour)

    >>> s.sort_values(ascending=True)
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    0     NaN
    dtype: float64

    Sort values descending order

    >>> s.sort_values(ascending=False)
    3    10.0
    4     5.0
    2     3.0
    1     1.0
    0     NaN
    dtype: float64

    Sort values putting NAs first

    >>> s.sort_values(na_position='first')
    0     NaN
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    dtype: float64

    Sort a series of strings

    >>> s = pd.Series(['z', 'b', 'd', 'a', 'c'])
    >>> s
    0    z
    1    b
    2    d
    3    a
    4    c
    dtype: object

    >>> s.sort_values()
    3    a
    1    b
    4    c
    2    d
    0    z
    dtype: object

    Sort using a key function. Your `key` function will be
    given the ``Series`` of values and should return an array-like.

    >>> s = pd.Series(['a', 'B', 'c', 'D', 'e'])
    >>> s.sort_values()
    1    B
    3    D
    0    a
    2    c
    4    e
    dtype: object
    >>> s.sort_values(key=lambda x: x.str.lower())
    0    a
    1    B
    2    c
    3    D
    4    e
    dtype: object

    NumPy ufuncs work well here. For example, we can
    sort by the ``sin`` of the value

    >>> s = pd.Series([-4, -2, 0, 2, 4])
    >>> s.sort_values(key=np.sin)
    1   -2
    4    4
    2    0
    0   -4
    3    2
    dtype: int64

    More complicated user-defined functions can be used,
    as long as they expect a Series and return an array-like

    >>> s.sort_values(key=lambda x: (np.tan(x.cumsum())))
    0   -4
    3    2
    4    4
    1   -2
    2    0
    dtype: int64

### Replacing values

If you have a categorical (factor) Series, it may be convenient to rename its levels. For example:

In [35]:
# create a dummy pandas series with a categorical variable (levels: "M", "F")
sex = pd.Series(["M", "F", "M", "F", "M", "F"], name="sex")
sex

0    M
1    F
2    M
3    F
4    M
5    F
Name: sex, dtype: object

In [36]:
# replace "M" and "F" with "Male" and "Female"
sex.replace(to_replace=["M", "F"], value=["Male", "Female"])

0      Male
1    Female
2      Male
3    Female
4      Male
5    Female
Name: sex, dtype: object

In [37]:
sex.map({"M": "Male", "F": "Female"})

0      Male
1    Female
2      Male
3    Female
4      Male
5    Female
Name: sex, dtype: object

In [38]:
sex.replace(to_replace=["M", "F"], value=[0, 1])

/tmp/ipykernel_37657/730481490.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sex.replace(to_replace=["M", "F"], value=[0, 1])

0    0
1    1
2    0
3    1
4    0
5    1
Name: sex, dtype: int64

In [39]:
sex.map({"M": 0, "F": 1})

0    0
1    1
2    0
3    1
4    0
5    1
Name: sex, dtype: int64

In [40]:
sex.isin(['F']) # pass a list to isin()

0    False
1     True
2    False
3     True
4    False
5     True
Name: sex, dtype: bool

---

## DataFrames

A Pandas DataFrame can be thought of as a collection (or a dictionary) of Series objects. The keys in this dictionary are the column names and the values are the Series.

To create a DataFrame from scratch, there are multiple possibilities: we decide to create a dictionary first, then convert it to a DataFrame.

In [41]:
data = {
    "EnsemblID": [
        "ENSG00000223972",
        "ENSG00000227232",
        "ENSG00000243485",
        "ENSG00000237613",
        "ENSG00000268020",
        "ENSG00000186092",
    ],
    "Gene": ["DDX11L1", "WASH7P", "MIR1302-11", "FAM138A", "OR4G4P", "OR4F5"],
    "GTEX-1117F": [0.1082, 21.4, 0.1602, 0.05045, 0, 0],
    "GTEX-111CU": [0.1158, 11.03, 0.06433, 0, 0, 0],
    "GTEX-111FC": [0.02104, 16.75, 0.04674, 0.02945, 0, 0],
}

In [42]:
# create dataframe
pd.DataFrame(data)

         EnsemblID        Gene  GTEX-1117F  GTEX-111CU  GTEX-111FC
0  ENSG00000223972     DDX11L1     0.10820     0.11580     0.02104
1  ENSG00000227232      WASH7P    21.40000    11.03000    16.75000
2  ENSG00000243485  MIR1302-11     0.16020     0.06433     0.04674
3  ENSG00000237613     FAM138A     0.05045     0.00000     0.02945
4  ENSG00000268020      OR4G4P     0.00000     0.00000     0.00000
5  ENSG00000186092       OR4F5     0.00000     0.00000     0.00000

In [181]:
# create and re-order column names
df_gene = pd.DataFrame(
    data, columns=["Gene", "EnsemblID", "GTEX-1117F", "GTEX-111FC", "GTEX-111CU"]
)
df_gene

         Gene        EnsemblID  GTEX-1117F  GTEX-111FC  GTEX-111CU
0     DDX11L1  ENSG00000223972     0.10820     0.02104     0.11580
1      WASH7P  ENSG00000227232    21.40000    16.75000    11.03000
2  MIR1302-11  ENSG00000243485     0.16020     0.04674     0.06433
3     FAM138A  ENSG00000237613     0.05045     0.02945     0.00000
4      OR4G4P  ENSG00000268020     0.00000     0.00000     0.00000
5       OR4F5  ENSG00000186092     0.00000     0.00000     0.00000

In [56]:
print(type(df_gene))

<class 'pandas.core.frame.DataFrame'>

In [57]:
# get the number of rows and columns
# (shape is an attribute of df)
df_gene.shape

(6, 5)

In [58]:
# get the column names (another attribute)
df_gene.columns

Index(['Gene', 'EnsemblID', 'GTEX-1117F', 'GTEX-111FC', 'GTEX-111CU'], dtype='object')

In [59]:
# get the index (another attribute)
df_gene.index

RangeIndex(start=0, stop=6, step=1)

Note that column names and index have their own types `Index` and `RangeIndex` - it is not a Python list (even though it looks like a list).

In [60]:
# create a new index (original dataframe is not modified)
df_gene.set_index("EnsemblID")

                       Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104     0.11580
ENSG00000227232      WASH7P    21.40000    16.75000    11.03000
ENSG00000243485  MIR1302-11     0.16020     0.04674     0.06433
ENSG00000237613     FAM138A     0.05045     0.02945     0.00000
ENSG00000268020      OR4G4P     0.00000     0.00000     0.00000
ENSG00000186092       OR4F5     0.00000     0.00000     0.00000

In [61]:
# create a new index in-place (mind the above caveat about the use of inplace)
df_gene.set_index("EnsemblID", inplace=True)
df_gene

                       Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104     0.11580
ENSG00000227232      WASH7P    21.40000    16.75000    11.03000
ENSG00000243485  MIR1302-11     0.16020     0.04674     0.06433
ENSG00000237613     FAM138A     0.05045     0.02945     0.00000
ENSG00000268020      OR4G4P     0.00000     0.00000     0.00000
ENSG00000186092       OR4F5     0.00000     0.00000     0.00000

In [62]:
# get the type of each column
df_gene.dtypes

Gene           object
GTEX-1117F    float64
GTEX-111FC    float64
GTEX-111CU    float64
dtype: object

In [63]:
# get more info
df_gene.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, ENSG00000223972 to ENSG00000186092
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gene        6 non-null      object
 1   GTEX-1117F  6 non-null      float64
 2   GTEX-111FC  6 non-null      float64
 3   GTEX-111CU  6 non-null      float64
dtypes: float64(3), object(1)
memory usage: 240.0+ bytes

In [64]:
# transpose v1
df_gene.T

EnsemblID,ENSG00000223972,ENSG00000227232,ENSG00000243485,ENSG00000237613,ENSG00000268020,ENSG00000186092
Gene,DDX11L1,WASH7P,MIR1302-11,FAM138A,OR4G4P,OR4F5
GTEX-1117F,0.1082,21.4,0.1602,0.05045,0.0,0.0
GTEX-111FC,0.02104,16.75,0.04674,0.02945,0.0,0.0
GTEX-111CU,0.1158,11.03,0.06433,0.0,0.0,0.0

In [65]:
# transpose v2
df_gene.transpose()

EnsemblID,ENSG00000223972,ENSG00000227232,ENSG00000243485,ENSG00000237613,ENSG00000268020,ENSG00000186092
Gene,DDX11L1,WASH7P,MIR1302-11,FAM138A,OR4G4P,OR4F5
GTEX-1117F,0.1082,21.4,0.1602,0.05045,0.0,0.0
GTEX-111FC,0.02104,16.75,0.04674,0.02945,0.0,0.0
GTEX-111CU,0.1158,11.03,0.06433,0.0,0.0,0.0

Quick summary:

In [66]:
df_gene.describe()

       GTEX-1117F  GTEX-111FC  GTEX-111CU
count    6.000000    6.000000    6.000000
mean     3.619808    2.807872    1.868355
std      8.710704    6.830244    4.488517
min      0.000000    0.000000    0.000000
25%      0.012613    0.005260    0.000000
50%      0.079325    0.025245    0.032165
75%      0.147200    0.042417    0.102932
max     21.400000   16.750000   11.030000

In [67]:
df_gene.T.describe()

EnsemblID,ENSG00000223972,ENSG00000227232,ENSG00000243485,ENSG00000237613,ENSG00000268020,ENSG00000186092
count,4,4,4,4,4.0,4.0
unique,4,4,4,4,2.0,2.0
top,DDX11L1,WASH7P,MIR1302-11,FAM138A,0.0,0.0
freq,1,1,1,1,3.0,3.0

To convert a dataframe to a numpy array, just use the `.values` attribute:

In [68]:
df_gene.values

array([['DDX11L1', 0.1082, 0.02104, 0.1158],
       ['WASH7P', 21.4, 16.75, 11.03],
       ['MIR1302-11', 0.1602, 0.04674, 0.06433],
       ['FAM138A', 0.05045, 0.02945, 0.0],
       ['OR4G4P', 0.0, 0.0, 0.0],
       ['OR4F5', 0.0, 0.0, 0.0]], dtype=object)

### Select columns: by name

In [69]:
# single column (returns a Series)
df_gene["Gene"]

EnsemblID
ENSG00000223972       DDX11L1
ENSG00000227232        WASH7P
ENSG00000243485    MIR1302-11
ENSG00000237613       FAM138A
ENSG00000268020        OR4G4P
ENSG00000186092         OR4F5
Name: Gene, dtype: object

In [70]:
# multicolumn (returns a DataFrame)
df_gene[["Gene", "GTEX-1117F"]]

                       Gene  GTEX-1117F
EnsemblID
ENSG00000223972     DDX11L1     0.10820
ENSG00000227232      WASH7P    21.40000
ENSG00000243485  MIR1302-11     0.16020
ENSG00000237613     FAM138A     0.05045
ENSG00000268020      OR4G4P     0.00000
ENSG00000186092       OR4F5     0.00000

### Select columns: by condition

Often you'll have to select (or filter out) columns based on a pattern: e.g., all those columns starting with, ending with, or containing something.

For this, you can manipulate column names using methods from the built-in `str` Python module: for example, `str.startswith()`.

In [71]:
# select all columns starting with GTEX
condition = df_gene.columns.str.startswith("GTEX") # startswith() works through str()
condition

array([False,  True,  True,  True])

In [72]:
df_gene[df_gene.columns[condition]]

                 GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000223972     0.10820     0.02104     0.11580
ENSG00000227232    21.40000    16.75000    11.03000
ENSG00000243485     0.16020     0.04674     0.06433
ENSG00000237613     0.05045     0.02945     0.00000
ENSG00000268020     0.00000     0.00000     0.00000
ENSG00000186092     0.00000     0.00000     0.00000

In [77]:
df_gene[df_gene.columns[condition]]

                 GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000223972     0.10820     0.02104     0.11580
ENSG00000227232    21.40000    16.75000    11.03000
ENSG00000243485     0.16020     0.04674     0.06433
ENSG00000237613     0.05045     0.02945     0.00000
ENSG00000268020     0.00000     0.00000     0.00000
ENSG00000186092     0.00000     0.00000     0.00000

### Select rows: by name

In [ ]:
# get the 1st row
df_gene.loc["ENSG00000223972"]

In [81]:
# get the last row
# df_gene.iloc[-1]
df_gene.tail(1)

                  Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000186092  OR4F5         0.0         0.0         0.0

In [ ]:
# subset multiple rows by using a list
df_gene.loc[["ENSG00000223972", "ENSG00000243485"]]  # output: dataframe

### Select rows: by condition

In [82]:
cond = df_gene["GTEX-1117F"] >= 5.
df_gene.loc[cond]

                   Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000227232  WASH7P        21.4       16.75       11.03

### Select rows: by index

In [ ]:
df_gene.iloc[0]

In [ ]:
df_gene.iloc[-1]

### Select rows & columns

You can use `.loc[]` and `.iloc[]` to select columns too.

In [182]:
df_gene.loc[:, ["GTEX-1117F", "GTEX-111CU"]]

   GTEX-1117F  GTEX-111CU
0     0.10820     0.11580
1    21.40000    11.03000
2     0.16020     0.06433
3     0.05045     0.00000
4     0.00000     0.00000
5     0.00000     0.00000

In [157]:
# same as above but using iloc
df_gene.iloc[:, [1, -1]]

                 GTEX-1117F  GTEX-111FC
EnsemblID
ENSG00000223972     0.10820     0.02104
ENSG00000227232    21.40000    16.75000
ENSG00000243485     0.16020     0.04674
ENSG00000237613     0.05045     0.02945
ENSG00000268020     0.00000     0.00000
ENSG00000186092     0.00000     0.00000

You can select contiguous ranges as well:

In [86]:
df_gene.loc[:, "GTEX-1117F":"GTEX-111CU"]

                 GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000223972     0.10820     0.02104     0.11580
ENSG00000227232    21.40000    16.75000    11.03000
ENSG00000243485     0.16020     0.04674     0.06433
ENSG00000237613     0.05045     0.02945     0.00000
ENSG00000268020     0.00000     0.00000     0.00000
ENSG00000186092     0.00000     0.00000     0.00000

In [ ]:
df_gene.iloc[:, range(1, 4)]

In [84]:
df_gene.loc["ENSG00000237613", "GTEX-1117F"] # value of a simgle position

0.05045

In [85]:
df_gene.iloc[3, 1]

0.05045

### Multiple conditions

Multiple conditions can be combined using the same rules that apply to Series.

In [87]:
cond = (df_gene["GTEX-1117F"] > 5.) | (df_gene["GTEX-111FC"] > 0.03)
df_gene.loc[cond]

                       Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000227232      WASH7P     21.4000    16.75000    11.03000
ENSG00000243485  MIR1302-11      0.1602     0.04674     0.06433

### Sort rows

You can apply the `.sort_values()` method on a dataframe to sort by a column, optionally selecting the sort order with the boolean `ascending` parameter.

In [88]:
# sort rows (genes) by decreasing expression in sample GTEX-1117F
df_gene.sort_values(by="GTEX-1117F", ascending=False)

                       Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU
EnsemblID
ENSG00000227232      WASH7P    21.40000    16.75000    11.03000
ENSG00000243485  MIR1302-11     0.16020     0.04674     0.06433
ENSG00000223972     DDX11L1     0.10820     0.02104     0.11580
ENSG00000237613     FAM138A     0.05045     0.02945     0.00000
ENSG00000268020      OR4G4P     0.00000     0.00000     0.00000
ENSG00000186092       OR4F5     0.00000     0.00000     0.00000

A column is a Series, so as we did before we can apply `.sort_values()` to any column.

In [89]:
df_gene["GTEX-1117F"].sort_values(ascending=False)

EnsemblID
ENSG00000227232    21.40000
ENSG00000243485     0.16020
ENSG00000223972     0.10820
ENSG00000237613     0.05045
ENSG00000268020     0.00000
ENSG00000186092     0.00000
Name: GTEX-1117F, dtype: float64

### Add/remove/modify columns

You can add and remove columns as part of your initial data cleaning phase. Modifying columns is usually part of the feature engineering, where you create new, more effective features (columns) for downstream analysis (e.g. machine learning).

In [90]:
np.random.seed(42)
df_gene["dummy_col"] = np.random.normal(loc=10, size=df_gene.shape[0])
df_gene

                       Gene  GTEX-1117F  GTEX-111FC  GTEX-111CU  dummy_col
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104     0.11580  10.496714
ENSG00000227232      WASH7P    21.40000    16.75000    11.03000   9.861736
ENSG00000243485  MIR1302-11     0.16020     0.04674     0.06433  10.647689
ENSG00000237613     FAM138A     0.05045     0.02945     0.00000  11.523030
ENSG00000268020      OR4G4P     0.00000     0.00000     0.00000   9.765847
ENSG00000186092       OR4F5     0.00000     0.00000     0.00000   9.765863

In [91]:
# drop columns: method 1
df_gene.drop(["dummy_col", "GTEX-111CU"], axis=1) # axis=1 means operating on the columns, axis=0 means operating on the rows

                       Gene  GTEX-1117F  GTEX-111FC
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104
ENSG00000227232      WASH7P    21.40000    16.75000
ENSG00000243485  MIR1302-11     0.16020     0.04674
ENSG00000237613     FAM138A     0.05045     0.02945
ENSG00000268020      OR4G4P     0.00000     0.00000
ENSG00000186092       OR4F5     0.00000     0.00000

In [94]:
# drop columns: method 2
df_gene = df_gene.drop(columns=["dummy_col", "GTEX-111CU"])
df_gene

                       Gene  GTEX-1117F  GTEX-111FC
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104
ENSG00000227232      WASH7P    21.40000    16.75000
ENSG00000243485  MIR1302-11     0.16020     0.04674
ENSG00000237613     FAM138A     0.05045     0.02945
ENSG00000268020      OR4G4P     0.00000     0.00000
ENSG00000186092       OR4F5     0.00000     0.00000

We can assign and modify columns with the `.assign()` method.

In [95]:
df_gene.assign(
    delta=df_gene["GTEX-1117F"] - df_gene["GTEX-111FC"],
    logdelta=np.log2(1 + df_gene["GTEX-1117F"] - df_gene["GTEX-111FC"]),
)

                       Gene  GTEX-1117F  GTEX-111FC    delta  logdelta
EnsemblID
ENSG00000223972     DDX11L1     0.10820     0.02104  0.08716  0.120564
ENSG00000227232      WASH7P    21.40000    16.75000  4.65000  2.498251
ENSG00000243485  MIR1302-11     0.16020     0.04674  0.11346  0.155050
ENSG00000237613     FAM138A     0.05045     0.02945  0.02100  0.029983
ENSG00000268020      OR4G4P     0.00000     0.00000  0.00000  0.000000
ENSG00000186092       OR4F5     0.00000     0.00000  0.00000  0.000000

Columns are easily renamed with the `.rename()` method, accepting a dictionary in the form `{'old_name': 'new_name'}`

In [97]:
df_renamed = df_gene.rename(columns={'GTEX-1117F': 'Sample1', 'GTEX-111FC': 'Sample2'})
df_renamed

                       Gene   Sample1   Sample2
EnsemblID
ENSG00000223972     DDX11L1   0.10820   0.02104
ENSG00000227232      WASH7P  21.40000  16.75000
ENSG00000243485  MIR1302-11   0.16020   0.04674
ENSG00000237613     FAM138A   0.05045   0.02945
ENSG00000268020      OR4G4P   0.00000   0.00000
ENSG00000186092       OR4F5   0.00000   0.00000

### Reading from files

Pandas has convenient `read_<format>` methods to read data in different formats (CSV, TSV, Excel, JSON, pickle, etc.).

Let's load a small toy dataset about how mouse weight responded to a particular treatment. This data contains 4 columns: 

- `Mouse`, the mouse label/number
- `Treated`, whether or not it was treated
- `Sex`
- `Weight`

In [98]:
df = pd.read_csv(DATADIR / "mouse_weight_data.csv")
df.head()

   Mouse  Treated Sex  Weight
0      1     True   M      22
1      2     True   F      25
2      3     True   M      27
3      4     True   F      23
4      5     True   M      23

In [99]:
df = df.set_index("Mouse") #df = pd.read_csv(DATADIR / "mouse_weight_data.csv",index_col=0)
df.head()

       Treated Sex  Weight
Mouse
1         True   M      22
2         True   F      25
3         True   M      27
4         True   F      23
5         True   M      23

In [100]:
df.reset_index().head()

   Mouse  Treated Sex  Weight
0      1     True   M      22
1      2     True   F      25
2      3     True   M      27
3      4     True   F      23
4      5     True   M      23

You can set the correct index straight from `pd.read_csv()`, by setting the argument `index_col` to the column name that you want to use as index!

### Exercise: Statistical testing revisited

1. (Re)load the `mouse_weight_data.csv` from the `data` folder using the column "Mouse" as index
2. Extract the weights of the treated and the untreated mice (hint: the column Treated is boolean: use it to select groups; in Pandas conditions, use `~` to negate)
3. Calculate the mean weight per group and print them
4. Test for statistical significance: there are two group involved, so you'll need a two-sample t-test (`ttest_ind()` from scipy `stats`)

In [120]:
mouse_df = pd.read_csv(DATADIR / "mouse_weight_data.csv",index_col=0)
condition = mouse_df["Treated"]

#treated_weights = mouse_df["Weight"].loc[condition]
treated_weights = mouse_df[mouse_df["Treated"]]["Weight"]
untreated_weights = mouse_df[~mouse_df["Treated"]]["Weight"]

treated_mean = treated_weights.mean()
untreated_mean = untreated_weights.mean()

# print
print(treated_mean)
print(untreated_mean)

print(f"Treated mean weight: {treated_mean:0.0f}g\nUntreated mean weight: {untreated_mean:0.0f}g")

# t test
t_statistic, p_value = stats.ttest_ind(treated_weights, untreated_weights) # can use a "_" to catch the t_statistic value and disgard. Like: "_,p_value=..."

p_value

25.066666666666666
26.8
Treated mean weight: 25g
Untreated mean weight: 27g

0.03166586638057747

mouse_df = pd.read_csv(DATADIR / "mouse_weight_data.csv",index_col=0)

treated_weights = mouse_df[ Treated== ][ <column> ]
untreated_weights = ___

treated_mean = ___
untreated_mean = ___

... # print the means

... # t-test

___

## Grouped operations

Pandas has the `.groupby()` method that allows you to compute grouped (or aggregated) calculations. For example, in our Mouse dataset:

- what is the average weight by sex?
- what is the average weight by sex, stratified by treatment?

In [ ]:
mouse_df.groupby("Sex") # group by a col

`.groupby()` *prepares* the data for a downstream aggregation method, such as such as `.sum()`, `.mean()`, etc.

In [123]:
mouse_df.groupby("Sex")["Weight"].mean()

Sex
F    26.000000
M    25.866667
Name: Weight, dtype: float64

If you prefer, you can assign the grouped dataframe to its own variable.

It is easy to group by more than one variable: for example, let's compute the average `Weight` broken down by `Sex` and `Treated`.

In [124]:
multi_var_df = mouse_df.groupby(["Sex", "Treated"])["Weight"].mean()
multi_var_df

Sex  Treated
F    False      27.000000
     True       24.857143
M    False      26.571429
     True       25.250000
Name: Weight, dtype: float64

Notice the hierarchical structure of the row indexes. If you prefer, you can "flatten" it out:

In [125]:
flat_df = multi_var_df.reset_index() # reset_index() flatens the output into a more usable dataframe
flat_df.head()

  Sex  Treated     Weight
0   F    False  27.000000
1   F     True  24.857143
2   M    False  26.571429
3   M     True  25.250000

Another `groupby()` method worth mentioning is `.agg()`, which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [128]:
mouse_df.groupby("Treated").Weight.agg(["min", "max", "mean", "median"])

         min  max       mean  median
Treated
False     23   30  26.800000    27.0
True      22   27  25.066667    25.0

## Exercise

The file "neuroblastoma.tsv", in the `data` folder, contains a few clinical parameters and the expression of 3 genes (MYCN, ALK, and TP53) for 20 neuroblastoma patients, randomly selected from a larger set.

Read the file with `pd.read_csv()`, setting the appropriate separator through the argument `sep` (e.g., for semicolon use `';'`, for tab use `'\t'`, etc.), and save it to `nb_df`.

In [127]:
neuro_data = pd.read_csv(DATADIR / "neuroblastoma.tsv",sep='\t',index_col=0)

1. Create a DataFrame `avg_surv` containing the average survival time (`os_years`) broken down by the neuroblastoma INSS staging `inss_stage`. What stage is associated with the worst prognosis, on average?

In [135]:
avg_surv = neuro_data.groupby("inss_stage")["os_years"].mean().sort_values()
avg_surv

inss_stage
4     2.737851
2     4.093771
4S    6.498289
1     7.927447
3     8.376728
Name: os_years, dtype: float64

2. What are the minimum and maximum survival times for each `age_group`? (age at diagnosis) Create a DataFrame whose index is the age group category from the dataset and whose values are the min and max values thereof.

In [137]:
neuro_data.groupby("age_group")["os_years"].agg(["min", "max"])

                  min        max
age_group
< 18 months  1.127995  14.409309
> 18 months  0.457221  10.529774

3. Create a `Series` whose index is the `high_risk` status and whose values are the average expression value of TP53 for each value of `high_risk`.

In [136]:
neuro_data.groupby("high_risk")["TP53"].mean().reset_index()

  high_risk       TP53
0         N  13.735385
1         Y  14.717143

---

## Combining data

Combining data is another part of your typical data analysis workflow. For example, you have sample IDs and clinical data in one file, and gene expression value for those samples in another file, and you want to combine those two files in the most robust way.

Pandas has a `.merge()` method to perform this kind of operation.

The syntax is `left.merge(right)`, meaning that a `left` dataframe will be merged with the `right` dataframe.

In [138]:
sites = pd.read_csv(DATADIR / "survey_site.csv")
visited = pd.read_csv(DATADIR / "survey_visited.csv")

In [139]:
sites

    site    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [140]:
visited

   ident   site       dated
0    837  MSK-4  1932-01-14
1    734   DR-3  1939-01-07
2    619   DR-1  1927-02-08

Let's merge `sites` ("left") and `visited` ("right"), using the common column `site`.

### One-to-one merge

This kind of merge works when there are no duplicate values in the joining columns.

In [141]:
sites.merge(visited, left_on="site", right_on="site")

    site    lat    long  ident       dated
0   DR-1 -49.85 -128.57    619  1927-02-08
1   DR-3 -47.15 -126.72    734  1939-01-07
2  MSK-4 -48.87 -123.40    837  1932-01-14

See how the resulting dataframe has the first columns from the "left" dataframe.

The optional argument `how` determines the type of join:

- `how="inner"` (default), use intersection of keys from both dataframes
- `how="outer"`, use union of keys from both dataframes
- `how="left"` / `how="right"`, use only keys from left (right) dataframe

### Many-to-one

In case the joining column contains duplicates, you would obtain a "many-to-one" merge, where all the left dataframe info are matched to the right dataframe and replicated as needed.

## Exercise

You have to merge clinical information (stored in the file `nb_clinical.txt`) with gene expression (provided in the file `nb_expr.txt`) into a single dataframe.

Start by reading the two files into dataframes, figuring out the file format and the separator.

Have a look at the data and check the sizes.

Merge the two dataframes by sample ID. Clean up the merged dataframe be dropping redundant columns, if any.

Finally, impute missing values to 0.

In [ ]:
...
df.drop_duplicates()
df.fillna(0)

---

## Breast Cancer Detection Data Set

source: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29

The data comprises features from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image in the 3-dimensional space. For now, there is no need to fully understand where the variables come from or their units: the focus here is to explore what we can do with Pandas and understand how easy it is to apply these tools to any kind of data set.

In [142]:
# (re)import libraries in case you start from scratch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

# compose paths and filenames using pathlib, which is operating system-agnostic
# then load the data using Pandas
DATADIR = Path("data")
DATAFILE = DATADIR / "breast_cancer_diagnostic_data.csv"
bc_data = pd.read_csv(DATAFILE)
bc_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

Other parameters can be used inside `read_csv()` to deal with different types of data: for example, different separators, unwanted rows or columns, variable names, and other.

Our data set contains 569 samples (patients), categorical data (diagnosis result) and numerical data (31 attributes concerning the tumor shape and size and the id of each patient). We are now ready to start exploring and manipulating the data as intended. The script below shows a few examples of simple operations that can be applied with just a single line of code.

In [143]:
# check the dimensions
bc_data.shape

(569, 33)

In [144]:
# check the header
bc_data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [145]:
# check the index
bc_data.index

RangeIndex(start=0, stop=569, step=1)

In [146]:
# check the last n rows
bc_data.tail(5)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

## Review Exercise

Index this dataframe by sample ID, instead of the default indexing. You can do that in two ways: by using `set_index()` on the dataframe, or by re-reading it from file specifying which column should be used as the index. Then, use indexing/slicing methods to perform the operations in the below cells.

In [149]:
# use your preferred method to index the df by sample ID

bc_data.set_index("id")

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [150]:
# check the contents of the column "area_mean"
# (output: list/array containing column values for all rows)

bc_data["area_mean"]

0      1001.0
1      1326.0
2      1203.0
3       386.1
4      1297.0
        ...
564    1479.0
565    1261.0
566     858.1
567    1265.0
568     181.0
Name: area_mean, Length: 569, dtype: float64

In [152]:
# create a subset of the data with the columns "area_mean", "perimeter_mean", "texture_mean"
# (output: a dataframe containing selected columns)

bc_data[["area_mean", "perimeter_mean", "texture_mean"]]

     area_mean  perimeter_mean  texture_mean
0       1001.0          122.80         10.38
1       1326.0          132.90         17.77
2       1203.0          130.00         21.25
3        386.1           77.58         20.38
4       1297.0          135.10         14.34
..         ...             ...           ...
564     1479.0          142.00         22.39
565     1261.0          131.20         28.25
566      858.1          108.30         28.08
567     1265.0          140.10         29.33
568      181.0           47.92         24.54

[569 rows x 3 columns]

In [160]:
# check the information of a given patient by row index, i.e. select row 100

bc_data.iloc[99]

id                           862548
diagnosis                         M
radius_mean                   14.42
texture_mean                  19.77
perimeter_mean                94.48
area_mean                     642.5
smoothness_mean             0.09752
compactness_mean             0.1141
concavity_mean              0.09388
concave points_mean         0.05839
symmetry_mean                0.1879
fractal_dimension_mean       0.0639
radius_se                    0.2895
texture_se                    1.851
perimeter_se                  2.376
area_se                       26.85
smoothness_se              0.008005
compactness_se              0.02895
concavity_se                0.03321
concave points_se           0.01424
symmetry_se                 0.01462
fractal_dimension_se       0.004452
radius_worst                  16.33
texture_worst                 30.86
perimeter_worst               109.5
area_worst                    826.4
smoothness_worst             0.1431
compactness_worst            0.3026
concavity_worst              0.3194
concave points_worst         0.1565
symmetry_worst               0.2718
fractal_dimension_worst     0.09353
Unnamed: 32                     NaN
Name: 99, dtype: object

In [162]:
# get a slice of the table by row index
# (output: a subtable containing row indexes from 9 (incl.) to 90 (incl.))

bc_data.iloc[9:91]

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,...,40.68,97.65,711.4,0.1853,1.0580,1.10500,0.22100,0.4366,0.20750,NaN
10,845636,M,16.02,23.24,102.70,797.8,0.08206,0.06669,0.03299,0.03323,...,33.88,123.80,1150.0,0.1181,0.1551,0.14590,0.09975,0.2948,0.08452,NaN
11,84610002,M,15.78,17.89,103.60,781.0,0.09710,0.12920,0.09954,0.06606,...,27.28,136.50,1299.0,0.1396,0.5609,0.39650,0.18100,0.3792,0.10480,NaN
12,846226,M,19.17,24.80,132.40,1123.0,0.09740,0.24580,0.20650,0.11180,...,29.94,151.70,1332.0,0.1037,0.3903,0.36390,0.17670,0.3176,0.10230,NaN
13,846381,M,15.85,23.95,103.70,782.7,0.08401,0.10020,0.09938,0.05364,...,27.66,112.00,876.5,0.1131,0.1924,0.23220,0.11190,0.2809,0.06287,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,86135501,M,14.48,21.46,94.25,648.2,0.09444,0.09947,0.12040,0.04938,...,29.25,108.40,808.9,0.1306,0.1976,0.33490,0.12250,0.3020,0.06846,NaN
87,86135502,M,19.02,24.59,122.00,1076.0,0.09029,0.12060,0.14680,0.08271,...,30.41,152.90,1623.0,0.1249,0.3206,0.57550,0.19560,0.3956,0.09288,NaN
88,861597,B,12.36,21.80,79.78,466.1,0.08772,0.09445,0.06015,0.03745,...,30.50,91.46,574.7,0.1304,0.2463,0.24340,0.12050,0.2972,0.09261,NaN
89,861598,B,14.64,15.24,95.77,651.9,0.11320,0.13390,0.09966,0.07064,...,18.24,109.40,803.6,0.1277,0.3089,0.26040,0.13970,0.3151,0.08473,NaN
90,861648,B,14.62,24.02,94.57,662.7,0.08974,0.08606,0.03102,0.02957,...,29.11,102.90,803.7,0.1115,0.1766,0.09189,0.06946,0.2522,0.07246,NaN

In [170]:
# drop columns from the table without overwriting the original data
# (output: table without column "compactness_mean")
drop_data = bc_data.drop("compactness_mean",axis='columns')
drop_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.24390,0.13890,0.1726,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.14400,0.09791,0.1752,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.09251,0.05302,0.1590,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.35140,0.15200,0.2397,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.00000,0.00000,0.1587,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [171]:
# select slices of lines and columns simultaneously by their index:
# - select row indexes 50 to 70 (incl., excl.)
# - select column indexes 5 to 10 (incl., excl.)

bc_data.iloc[9:91,5:10]

,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean
9,475.9,0.11860,0.23960,0.22730,0.08543
10,797.8,0.08206,0.06669,0.03299,0.03323
11,781.0,0.09710,0.12920,0.09954,0.06606
12,1123.0,0.09740,0.24580,0.20650,0.11180
13,782.7,0.08401,0.10020,0.09938,0.05364
...,...,...,...,...,...
86,648.2,0.09444,0.09947,0.12040,0.04938
87,1076.0,0.09029,0.12060,0.14680,0.08271
88,466.1,0.08772,0.09445,0.06015,0.03745
89,651.9,0.11320,0.13390,0.09966,0.07064
90,662.7,0.08974,0.08606,0.03102,0.02957

In [172]:
# check for missingness

bc_data.isnull()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
565,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
566,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
567,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [178]:
# drop columns containing any number of missing values,
# saving the result to a new dataframe
print(bc_data.shape)

non_null = bc_data.dropna(axis=1, how='all')
non_null
print(non_null.shape)

(569, 33)
(569, 32)

In [183]:
# create a dataframe named "bc_data_subset" containing all the rows and only the first 7 columns

bc_data_subset = bc_data.iloc[:,0:7]
bc_data_subset

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840
1,842517,M,20.57,17.77,132.90,1326.0,0.08474
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960
3,84348301,M,11.42,20.38,77.58,386.1,0.14250
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030
...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100
565,926682,M,20.13,28.25,131.20,1261.0,0.09780
566,926954,M,16.60,28.08,108.30,858.1,0.08455
567,927241,M,20.60,29.33,140.10,1265.0,0.11780
568,92751,B,7.76,24.54,47.92,181.0,0.05263

In [184]:
# rename the columns with better/shorter names,
# i.e., without the _mean suffix

bc_data_subset.rename(columns={'radius_mean': 'radius', 'texture_mean': 'texture',
                               'perimeter_mean':'perimeter', 'area_mean':'area',
                              'smoothness_mean':'smoothness'})

           id diagnosis  radius  texture  perimeter    area  smoothness
0      842302         M   17.99    10.38     122.80  1001.0     0.11840
1      842517         M   20.57    17.77     132.90  1326.0     0.08474
2    84300903         M   19.69    21.25     130.00  1203.0     0.10960
3    84348301         M   11.42    20.38      77.58   386.1     0.14250
4    84358402         M   20.29    14.34     135.10  1297.0     0.10030
..        ...       ...     ...      ...        ...     ...         ...
564    926424         M   21.56    22.39     142.00  1479.0     0.11100
565    926682         M   20.13    28.25     131.20  1261.0     0.09780
566    926954         M   16.60    28.08     108.30   858.1     0.08455
567    927241         M   20.60    29.33     140.10  1265.0     0.11780
568     92751         B    7.76    24.54      47.92   181.0     0.05263

[569 rows x 7 columns]

In [ ]:
cond = df_gene["GTEX-1117F"] >= 5.
df_gene.loc[cond]

In [194]:
bc_data.head()
bc_data.set_index("id")

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [198]:
# select patients that showed tumors with an area superior to 1000
condi = bc_data["area_mean"] >1000
subset_bc = bc_data.loc[condi]
subset_bc.id

0        842302
1        842517
2      84300903
4      84358402
6        844359
         ...
535      919555
563      926125
564      926424
565      926682
567      927241
Name: id, Length: 92, dtype: int64

In [199]:
# of those tumors with an area superior to 1000, how many had a perimeter superior to 180?
subset_bc.shape

(92, 33)

In [201]:
large_bc = subset_bc.loc[subset_bc["perimeter_mean"]>180]
large_bc.shape

(3, 33)

In [202]:
# what is the mean tumor area of patients for each diagnosis (Benign/Malignant)?

bc_data.groupby("diagnosis")["area_mean"].mean()

diagnosis
B    462.790196
M    978.376415
Name: area_mean, dtype: float64

In [206]:
bc_data.reset_index().drop("index",axis='columns')

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [207]:
# and the median?
bc_data.groupby("diagnosis")["area_mean"].median()

diagnosis
B    458.4
M    932.0
Name: area_mean, dtype: float64

In [210]:
bc_data.columns.tolist()

['id',
 'diagnosis',
 'radius_mean',
 'texture_mean',
 'perimeter_mean',
 'area_mean',
 'smoothness_mean',
 'compactness_mean',
 'concavity_mean',
 'concave points_mean',
 'symmetry_mean',
 'fractal_dimension_mean',
 'radius_se',
 'texture_se',
 'perimeter_se',
 'area_se',
 'smoothness_se',
 'compactness_se',
 'concavity_se',
 'concave points_se',
 'symmetry_se',
 'fractal_dimension_se',
 'radius_worst',
 'texture_worst',
 'perimeter_worst',
 'area_worst',
 'smoothness_worst',
 'compactness_worst',
 'concavity_worst',
 'concave points_worst',
 'symmetry_worst',
 'fractal_dimension_worst',
 'Unnamed: 32']

In [ ]:
# what is the median value of all parameters for each level of diagnosis?

In [215]:
results = bc_data.groupby("diagnosis")[bc_data.columns[2:-2].tolist()].median()
print(results.shape)
results

(2, 29)

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,fractal_dimension_se,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst
diagnosis,,,,,,,,,,,,,,,,,,,,,
B,12.200,17.39,78.18,458.4,0.09076,0.07529,0.03709,0.02344,0.1714,0.061540,...,0.002808,13.35,22.820,86.92,547.4,0.12540,0.16980,0.1412,0.07431,0.2687
M,17.325,21.46,114.20,932.0,0.10220,0.13235,0.15135,0.08628,0.1899,0.061575,...,0.003739,20.59,28.945,138.00,1303.0,0.14345,0.35635,0.4049,0.18200,0.3103

---

## Export & import data

It is very common to export (save) data while we process them - either at the end of the processing workflow, or as intermediate steps. It is perfectly fine to save intermediate files! Especially while you are setting up and fine-tuning the preprocessing steps.

Pandas offers convenient methods to export data in different formats: you apply these methods directly on DataFrames (or Series). They are named after the output format, e.g. `.to_<format>()`.

### Pickle

Pickle is Python's serialized format. I would say it is the counterpart of R's RDS format (e.g. `saveRDS()`).

Common file extension for Pickles are `.pkl` or `.pickle`.

In [ ]:
# save processed dataframe to pickle
bc_data_subset.to_pickle(DATADIR / "bc_new_table.pickle")

In [ ]:
# read back to a dataframe
bc_pickle = pd.read_pickle(DATADIR / "bc_new_table.pickle")
bc_pickle

### CSV/TSV

Comma-separated values, or tab-separated values, are textual file formats. They are the most flexible storage type: any text editor or program can open this kind of files. You can share them with everyone.

On the downside, CSVs are usually slower and bigger than other binary formats.

In [ ]:
# save dataframe to TSV
bc_data_subset.to_csv(DATADIR / "bc_new_table.txt", sep="\t")

### Excel

Before reading and saving Excel files with Pandas, you need to install the `openpyxl` library. Copy-paste the following in the cell code below and run it:

```
!conda install -y -c conda-forge openpyxl
```

If you are a Windows user, replace `conda` with `conda.exe`.

In [ ]:
bc_data_subset.to_excel(DATADIR / "bc_new_table.xlsx", sheet_name="BC data")

In [ ]:
bc_excel = pd.read_excel(DATADIR / "bc_new_table.xlsx", sheet_name="BC data")

### Feather

[Feather](https://arrow.apache.org/docs/python/feather.html) is another binary format, similar to Pickle. But it has the advantage that it can be read by other languages, like R, and it is faster than CSV. Feather is part of the Apache Arrow project. 

Again, you'll probably need to install a dependency:

```
!conda install -y -c conda-forge pyarrow
```

In [ ]:
bc_data_subset.to_feather(DATADIR / "bc_new_table.feather")

In [ ]:
bc_feather = pd.read_feather(DATADIR / "bc_new_table.feather")
bc_feather

### Dictionary

In [ ]:
# convert just the first rows
bc_dict = bc_data_subset.head().to_dict()
print(bc_dict)

In [ ]:
import pprint
pprint.pprint(bc_dict)

---

# Credits

Partially abridged from great work by Paulo Caldas https://github.com/paulocaldas, Samraat Pawar (MIT license), Center for Computational Biomedicine (Harvard Medical School), and others.